@use "../base/templates" as *;
@use "../base/media" as *;

.footer {
  --offset: 50px;
  background-color: var(--dark-b);
  overflow: hidden;

  @include desktop {
    --offset: 40px;
  }
  @include laptop-min {
    --offset: 30px;
  }

  &__head {
    padding: var(--offset) 0px;
    border-bottom: 1px solid var(--border-color);

    @include tablet-min {
      padding: 25px 0px;
    }
  }
  &__logo {
    display: block;
    width: 260px;
    @include laptop-min {
      width: 200px;
    }
    @include tablet-min {
      margin: 0 auto;
    }

    img {
      display: block;
      width: 100%;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 45% 1fr 37%;
    gap: var(--offset);
    row-gap: 0px;
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
    @include tablet-min {
      align-items: center;
      text-align: center;
    }
  }
  &__body {
    padding: var(--offset) 0px;
    &:first-child {
      border-right: 1px solid var(--border-color);
      padding-right: var(--offset);
      @include laptop {
        grid-column: 2 span;
      }
      @include tablet {
        border-right: none;
      }
    }
    &:last-child {
      border-left: 1px solid var(--border-color);
      padding-left: var(--offset);
      @include desktop {
        grid-column: 3 span;
        border-top: 1px solid var(--border-color);
        padding-left: 0;
        border-left: none;
        margin: 0 -30px;
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    @include tablet {
      margin: 0 -16px !important;
      padding: var(--offset) 16px !important;
      grid-column: 3 span !important;

      &:not(:first-child) {
        border-top: 1px solid var(--border-color);
      }
    }
  }
  &__contacts {
    width: 100%;
  }
  &__contacts-row {
    display: grid;
    grid-template-columns: 62% 1fr;
    gap: 50px;

    @include laptop {
      gap: 30px;
    }
    @include laptop-min {
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet-min {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: var(--offset);
    }
  }
  &__contacts-item {
    @include tablet-min {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    line-height: 150%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
  }
  &__tel {
    font-size: 28px;
    line-height: 150%;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
    @include laptop-min {
      font-size: 24px;
    }
  }
  &__address {
    font-size: 18px;
    line-height: 150%;
    @include laptop-min {
      font-size: 15px;
    }

    span {
      color: rgba(255, 255, 255, 0.5);
    }
  }
  &__mail {
    font-size: 18px;
    line-height: 150%;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
    @include laptop-min {
      font-size: 15px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    row-gap: 20px;
    margin-top: 40px;

    @include desktop {
      gap: 20px;
    }
    @include laptop-min {
      margin-top: 30px;
    }
    @include tablet {
      margin-top: 25px;
    }
    @include tablet-min {
      align-items: center;
    }

    &._grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @include tablet-min {
        grid-template-columns: 1fr;
      }
    }

    a {
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
  &__bottom {
    border-top: 1px solid var(--border-color);
    padding: 30px 0px;

    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.5);

    @include tablet-min {
      padding: 25px 0px;
    }

    a {
      transition: color 0.3s ease;

      @include hover {
        color: white;
      }
    }
  }
  &__bottom-wrapper {
    @include flex-between;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 30px;

    @include tablet-min {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
    }
  }
  &__copyright {
  }
  &__bottom-list {
    display: flex;
    gap: 50px;

    @include tablet-min {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
  &__dev {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
