@use "../base/templates" as *;
@use "../base/media" as *;

.header-t {
  position: sticky;
  top: 0;
  padding: 10px 0px;
  background-color: var(--dark-m);
  border-bottom: 1px solid var(--border-color);
  transition: transform .4s ease;
  z-index: 100;

  &._scroll {
    transform: translateY(-100%);
  }

  @include laptop-min {
    display: none;
  }

  &__wrapper {
    @include flex-between;
    gap: 20px;
  }
  &__nav {
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 50px;
    @include laptop-middle {
      gap: 30px;
    }

    a {
      font-size: 18px;
      line-height: 150%;

      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
  &__btn {
    @include flex-center;
    display: block;
    width: fit-content;
    padding: 12px 29px;
    border: 1px solid var(--primary);

    font-size: 18px;
    line-height: 150%;

    transition:
      color 0.3s ease,
      background-color 0.3s ease;
    @include hover {
      background-color: var(--primary);
      color: var(--dark);
    }
  }
}
.header {
  padding: 20px 0px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--dark-b);
  &__wrapper {
    @include flex-between;
    gap: 30px;
  }
  &__logo {
    display: block;
    width: 260px;
    @include laptop-middle {
      width: 220px;
    }
    @include laptop-min {
      width: 180px;
    }
    @include tablet-min {
      width: 160px;
    }

    img {
      display: block;
      width: 100%;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    gap: 60px;

    @include laptop {
      gap: 30px;
    }
    @include laptop-min {
      gap: 20px;
    }
    @include tablet-min {
      gap: 15px;
    }
  }
  &__contacts-info {
    line-height: 150%;
    text-align: right;

    @include laptop-middle {
      font-size: 14px;
    }
    @include laptop-min {
      display: none;
    }

    span {
      display: block;
    }
    .work-time {
      opacity: 0.5;
    }
  }
  &__tel {
    display: block;
    width: fit-content;

    font-size: 24px;
    line-height: 150%;

    transition: color 0.3s ease;

    @include laptop-middle {
      font-size: 20px;
    }
    @include laptop-min {
      display: none;
    }
    @include hover {
      color: var(--primary);
    }
  }
  &__burger-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    height: 30px;

    color: var(--primary);

    @media (min-width: 992px) {
      display: none;
    }

    div {
      width: 100%;
      height: 2px;
      background-color: currentColor;
    }
  }
}

.header-services {
  background-color: var(--dark-b);
  @include laptop-min {
    display: none;
  }
  &__slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__slider {
  }
  &__slide {
    position: relative;
    padding: 20px 0px;
    box-sizing: border-box;
    width: fit-content;

    font-size: 18px;
    line-height: 150%;

    @include laptop {
      font-size: 16px;
    }
    @include hover {
      &::after {
        opacity: 1;
      }
    }

    &::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background-color: var(--primary);
      opacity: 0;

      transition: opacity 0.3s ease;
    }
  }
  &__next-btn {
    @include flex-center;
    cursor: pointer;
    position: absolute;
    width: 50px;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 10;

    transition:
      opacity 0.3s ease,
      visibility 0.3s ease,
      color 0.3s ease;

    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }

    @include hover {
      color: var(--primary);
    }

    svg {
      width: 12px;
      height: 24px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 150px;
      top: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        90deg,
        rgba(38, 38, 38, 0) 0%,
        rgba(38, 38, 38, 0.75) 44.71%,
        #262626 100%
      );
      z-index: -1;
    }
  }
}
