@use "../base/templates" as *;
@use "../base/media" as *;

.intro {
  &__body {
    min-height: 715px;
    position: relative;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 1;

    @include laptop {
      min-height: 650px;
    }
    @include laptop-min {
      min-height: 450px;
    }
    @include tablet {
      padding: 40px 0px;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      inset: 0;
    }

    &::before {
      background: linear-gradient(
        270deg,
        rgba(58, 67, 36, 0) 0%,
        rgba(58, 67, 36, 0.6) 100%
      );
      z-index: -2;
    }
    &::after {
      background: rgba(0, 0, 0, 0.4);
      z-index: -1;
    }
  }
  &__slider-gallery {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -3;
  }
  &__slide-gallery {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    @include laptop {
      gap: 30px;
    }
  }
  &__slider {
    max-width: 845px;
    width: 100%;
    margin: 0;
    @include laptop-min {
      max-width: 100%;
    }
  }
  &__slide {
    opacity: 0 !important;

    &.swiper-slide-active {
      opacity: 1 !important;
    }
  }
  &__slide-title {
    font-weight: 600;
    font-size: 56px;
    margin: 0px 0px 40px 0px;
    @include laptop {
      font-size: 48px;
      margin-bottom: 30px;
    }
    @include laptop-min {
      font-size: 42px;
    }
    @include tablet {
      font-size: 38px;
      margin-bottom: 25px;
    }
    @include tablet-min {
      font-size: 32px;
    }
  }
  &__slide-content {
    font-size: 18px;
    line-height: 150%;
    margin: 0px 0px 40px 0px;
    @include laptop {
      font-size: 16px;
      margin-bottom: 30px;
    }
    @include tablet {
      margin-bottom: 25px;
      font-size: 15px;
    }
  }
  &__form-wrapper {
    width: 420px;
    flex-shrink: 0;
    padding: 30px;
    box-shadow: 0 5px 25px 0 rgba(42, 79, 134, 0.05);
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    @include laptop-middle {
      width: 380px;
    }
    @include laptop-min {
      width: 100%;
    }
  }
  &__form-title {
    margin-bottom: 20px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .btn-s {
      width: 100%;
    }
  }
  &__slide-next {
    @include flex-center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid white;
    flex-shrink: 0;

    color: white;

    transition:
      background-color 0.3s ease,
      opacity 0.3s ease;

    @include hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    @include laptop-min {
      display: none;
    }
    &.swiper-button-disabled {
      opacity: 0.8;
      pointer-events: none;
    }

    svg {
      width: 12px;
      height: 24px;
    }
  }
  &__slider-pagination {
    position: absolute;
    left: 50% !important;
    bottom: 30px !important;
    transform: translateX(-50%);

    @include tablet {
      bottom: 20px !important;
    }
  }
  &__content-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    @include tablet {
      flex-wrap: wrap;
    }
  }
  &__info {
    flex: 0 1 900px;
    @include tablet {
      flex: auto;
      width: 100%;
    }
  }
  &__content {
  }
  &__btn-play {
    margin: 0 auto;
  }
}
