@use "../base/templates" as *;
@use "../base/media" as *;

.s-adv {
  padding: 70px 0px;
  border-bottom: 1px solid var(--border-color);
  @include tablet {
    padding: 50px 0px;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    @include desktop {
      gap: 40px;
    }
    @include laptop-min {
      gap: 30px;
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    @include laptop-middle {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    @include tablet {
      flex-direction: row;
      align-items: flex-end;
      text-align: start;
      gap: 15px;
    }
    @include tablet-min {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .num {
      font-weight: 700;
      font-size: 90px;
      line-height: 100%;
      color: var(--primary);
      @include desktop {
        font-size: 72px;
      }
      @include laptop {
        font-size: 60px;
      }
      @include laptop-min {
        font-size: 54px;
      }
      @include tablet {
        font-size: 44px;
      }
    }
    .text {
      line-height: 140%;
    }
  }
}
