@use "../base/templates" as *;
@use "../base/media" as *;

.s-archive-news {
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    @include laptop {
      grid-template-columns: repeat(3, 1fr);
    }
    @include laptop-min {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    gap: 40px;

    margin-top: 50px;
    @include laptop-min {
      margin-top: 30px;
    }
    @include tablet {
      gap: 20px;
    }

    &::before,
    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background-color: currentColor;
      opacity: 0.1;
    }
  }
  &__btn-more {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    user-select: none;

    color: var(--primary);
    line-height: 150%;

    @include hover {
      svg {
        transform: rotate(45deg);
      }
    }

    svg {
      width: 16px;
      height: 16px;

      transition: transform 0.3s ease;
    }
  }
}
