@use "../base/templates" as *;
@use "../base/media" as *;

.s-archive {
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
    @include laptop-min {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
  &__btn-more {
    width: 100%;
    margin-top: 24px;
  }
}