@use "../base/templates" as *;
@use "../base/media" as *;

.s-contract {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include tablet {
      gap: 20px;
    }
  }
  &__form-block {
    &:not(:first-child) {
      border-top: 1px solid var(--border-color);
      padding-top: 30px;
      @include tablet {
        padding-top: 20px;
      }
    }

    .input-control {
      &._full {
        grid-column: 3 span;
        @include laptop {
          grid-column: 2 span;
        }
        @include tablet {
          grid-column: 1 span;
        }
      }
    }
  }
  &__form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    @include laptop {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet {
      grid-template-columns: 1fr;
    }
  }
  &__form-block-title {
    font-size: 14px;
    color: rgba(242, 242, 242, 0.5);
    margin-bottom: 10px;
  }
  &__form-bottom {
    display: grid;
    align-items: center;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);

    @include tablet {
      gap: 20px;
      grid-template-columns: 1fr;
    }

    .btn-s {
      width: 100%;
    }
  }
}
