@use "../base/templates" as *;
@use "../base/media" as *;

.s-content {
  &__item {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    @include laptop-min {
      flex-wrap: wrap;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    &:not(:last-child) {
      margin-bottom: 100px;
      @include laptop-middle {
        margin-bottom: 80px;
      }
      @include laptop-min {
        margin-bottom: 70px;
      }
      @include tablet {
        margin-bottom: 50px;
      }
    }
  }
  &__item-info {
    flex: 0 1 960px;
    @include laptop-min {
      flex: auto;
      width: 100%;
    }
  }
  &__item-title {
    margin-bottom: 50px;
    @include laptop-min {
      margin-bottom: 30px;
    }
  }
  &__item-content {
    .btn-s {
      margin-top: 50px;
      width: 305px;
      max-width: 100%;
      @include laptop-min {
        margin-top: 30px;
      }
      @include mobile {
        width: 100%;
      }
    }
  }
  &__gallery {
    width: fit-content;
    max-width: 100%;
    flex-shrink: 0;

    @media (min-width: 992px) {
      position: sticky;
      top: 100px;
    }
    @include laptop-min {
      margin: 0 auto;
    }

    .slider-arrow {
      position: static;
      flex-shrink: 0;
      transform: translateX(0);
    }
  }
  &__gallery-wrapper {
    display: flex;
    align-items: center;

    .slider-pagination {
      margin-top: 15px !important;
    }
  }
  &__gallery-slider {
    width: 600px;
    height: 400px;
    max-width: 100%;
    @include laptop {
      width: 400px;
      height: 265px;
    }
    @include laptop-min {
      width: 600px;
      height: auto;
      aspect-ratio: 1/0.67;
    }
  }
  &__gallery-slide {
    @include hover {
      img {
        transform: scale(1.08);
      }
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform 0.3s linear;
    }
  }
}
