@use "../base/templates" as *;
@use "../base/media" as *;

.s-contacts {
  &__warn {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background-color: var(--dark);
    margin-bottom: 50px;

    line-height: 150%;

    @include laptop-min {
      margin-bottom: 30px;
    }

    .circle {
      @include flex-center;
      border-radius: 50%;
      background-color: var(--primary);
      width: 20px;
      height: 20px;
      flex-shrink: 0;

      line-height: 100%;
      font-weight: 800;
      color: var(--dark);
    }
  }
  &__wrapper {
    display: flex;
    gap: 50px;
    @include laptop {
      gap: 30px;
    }
    @include laptop-middle {
      flex-wrap: wrap;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 0 1 420px;
    @include laptop {
      flex-basis: 350px;
      gap: 30px;
    }
    @include laptop-middle {
      flex: auto;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      row-gap: 25px;
    }
    @include laptop-min {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }
  }
  &__info-item {
  }
  &__info-item-title {
    line-height: 150%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
  }
  &__tel {
    font-size: 28px;
    line-height: 150%;
    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
    @include laptop {
      font-size: 24px;
    }
  }
  &__info-content {
    font-size: 18px;
    line-height: 150%;
    @include laptop {
      font-size: 16px;
    }
  }
  &__map {
    flex: 1;
    height: 500px;
    @include tablet {
      height: 400px;
      flex: auto;
      width: 100%;
    }
    @include tablet-min {
      height: 350px;
    }
  }
  &__gallery {
    @include flex-center;
    position: relative;
    flex: 0 1 300px;

    .btn-play {
      .circle {
        width: 70px;
        height: 70px;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
    @include tablet {
      height: 500px;
      margin: 0 auto;
    }
    @include tablet-min {
      width: 100%;
      flex: auto;
    }
  }
  &__gallery-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 22px;
    background-color: rgba(0, 0, 0, 0.1);
    border-top: 1px solid var(--border-color);

    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary);
    z-index: 1;

    transition: background-color 0.3s ease;
    @include hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
