@use "../base/templates" as *;
@use "../base/media" as *;

.s-descr {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    @include laptop-min {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }
}