@use "../base/templates" as *;
@use "../base/media" as *;

.s-hero {
  &__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    @include laptop-min {
      flex-wrap: wrap;
    }
  }
  &__info {
    flex: 0 1 1020px;
    @include laptop-min {
      flex: auto;
      width: 100%;
    }
  }
  &__title {
    margin: 0px 0px 50px 0px;
    @include laptop {
      margin-bottom: 30px;
    }
  }
  &__content {
    margin-bottom: 30px;
    @include laptop {
      margin-bottom: 20px;
    }
  }
  &__download {
    margin-bottom: 50px;
    @include laptop {
      margin-bottom: 30px;
    }
  }
  &__buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    row-gap: 20px;

    @include desktop {
      grid-template-columns: repeat(2, 1fr);
    }
    @include laptop-min {
      gap: 20px;
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }

    .btn-s {
      width: 100%;

      &._outline {
        color: var(--primary) !important;
      }
      svg {
        width: 26px;
        height: 26px;
        transform: rotate(0deg) !important;

        @include tablet {
          width: 20px;
          height: 20px;
        }
      }
    }

    &._accountant {
      grid-template-columns: auto 1fr 1fr;
      @include desktop {
        grid-template-columns: repeat(2, 1fr);

        .btn-s {
          &:first-child {
            grid-column: 2 span;
          }
        }
      }
      @include tablet-min {
        .btn-s {
          grid-column: 2 span;
        }
      }
    }
  }
  &__img {
    display: block;
    width: 500px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    object-fit: cover;

    @media (min-width: 992px) {
      position: sticky;
      top: 100px;
    }
    @include laptop-middle {
      width: 400px;
    }
    @media (max-width: 1099px) {
      width: 340px;
    }
    @include laptop-min {
      width: 500px;
      margin: 0 auto 25px auto;

      &._desk {
        display: none;
      }
    }
    @media (min-width: 992px) {
      &._mob {
        display: none;
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    row-gap: 10px;
    background: var(--dark);
    padding: 20px;
    width: 100%;
    max-width: 670px;
    margin-bottom: 50px;
    @include laptop-min {
      margin-bottom: 30px;
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }

    li {
      display: flex;
      align-items: start;
      gap: 8px;

      line-height: 150%;
      &::before {
        margin-top: 6px;
        display: block;
        border-radius: 50%;
        flex-shrink: 0;
        content: "";
        width: 6px;
        height: 6px;
        background: var(--primary);
      }
    }
  }
  &__price {
    display: flex;
    align-items: center;
    gap: 30px;

    margin-bottom: 50px;
    @include laptop-min {
      margin-bottom: 30px;
    }
    @include tablet {
      gap: 20px;
      row-gap: 15px;
      flex-wrap: wrap;
    }

    .rect {
      padding: 20px;
      background-color: var(--dark);
      flex-shrink: 0;

      font-weight: 600;
      font-size: 20px;
      color: var(--primary);

      @include tablet {
        font-size: 18px;
        padding: 15px;
      }
    }
    .content {
      flex: 0 1 400px;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
