@use "../base/templates" as *;
@use "../base/media" as *;

.s-hero {
  &__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    @include laptop-min {
      flex-wrap: wrap;
    }
  }
  &__info {
    flex: 0 1 1020px;
    @include laptop-min {
      flex: auto;
      width: 100%;
    }
  }
  &__title {
    margin: 0px 0px 50px 0px;
    @include laptop {
      margin-bottom: 30px;
    }
  }
  &__content {
    margin-bottom: 30px;
    @include laptop {
      margin-bottom: 20px;
    }
  }
  &__download {
    margin-bottom: 50px;
    @include laptop {
      margin-bottom: 30px;
    }
  }
  &__buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    row-gap: 20px;

    @include desktop {
      grid-template-columns: repeat(2, 1fr);
    }
    @include laptop-min {
      gap: 20px;
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }

    .btn-s {
      width: 100%;

      svg {
        width: 26px;
        height: 26px;
        transform: rotate(0deg) !important;

        @include tablet {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  &__img {
    display: block;
    width: 500px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    object-fit: cover;

    @include laptop-middle {
      width: 400px;
    }
    @media (max-width: 1099px) {
      width: 340px;
    }
    @include laptop-min {
      width: 500px;
      margin: 0 auto 25px auto;
    
      &._desk {
        display: none;
      }
    }
    @media (min-width: 992px) {
      &._mob {
        display: none;
      }
    }
  }
}