@use "../base/templates" as *;
@use "../base/media" as *;

.s-info {
  &__head {
    margin-bottom: 30px !important;
    @include laptop-min {
      margin-bottom: 25px !important;
    }
  }
  &__content {
    color: rgba(255, 255, 255, 0.5);
  }
  &__slider-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 50px;
    @include laptop-min {
      margin-top: 30px;
    }

    .slider-arrow {
      @media (max-width: 1760px) {
        display: none !important;
      }
    }
  }
  &__slide {
    box-sizing: border-box;
    display: grid !important;
    grid-template-rows: 1fr 1fr;
    height: auto !important;
    gap: 24px;
    @include tablet {
      gap: 20px;
    }
  }
  &__slide-item {
    padding: 30px;
    border: 1px solid var(--border-color);
    min-height: 135px;

    font-size: 18px;

    transition: border-color 0.3s ease;

    @include tablet {
      font-size: 16px;
      padding: 20px;
    }
    @include hover {
      border-color: var(--primary);
    }
  }
  &__slider-pagination {
    @media (min-width: 1761px) {
      display: none;
    }
  }
}
