@use "../base/templates" as *;
@use "../base/media" as *;

.s-news {
  &__head {
    @include tablet-min {
      .btn-simple {
        display: none;
      }
    }
  }
  &__head-btn {
    width: 100%;
    @media (min-width: 576px) {
      display: none;
    }
  }
  &__slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__slider {
    .swiper-slide {
      box-sizing: border-box;
      height: auto !important;

      @include laptop {
        width: 380px !important;
        max-width: 100%;
      }

      .card-new {
        height: 100%;
      }
    }
  }
}
