@use "../base/templates" as *;
@use "../base/media" as *;

.s-request {
  &__body {
    padding: 70px;
    color: var(--black);
    background-color: var(--primary);
    @include laptop {
      padding: 50px 30px;
    }
    @include tablet-min {
      padding: 30px 20px;
    }
  }
  &__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 1320px;
    max-width: 100%;
    margin: 0 auto;
    gap: 40px;

    @include laptop-min {
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  &__info {
    flex: 0 1 620px;
    @include laptop-min {
      flex: auto;
    }
    @include tablet-min {
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(51, 51, 51, 0.5);
    }
  }
  &__title {
    margin-bottom: 30px;
    @include tablet {
      margin-bottom: 25px;
    }
  }
  &__content {
    line-height: 150%;
    margin: 0px 0px 30px 0px;
    @include tablet {
      margin-bottom: 25px;
    }
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 15px;

    .btn-s {
      svg {
        width: 26px;
        height: 26px;
        transform: rotate(0) !important;

        @include tablet-min {
          width: 20px;
          height: 20px;
        }
      }

      @include tablet-min {
        width: 100%;
      }
    }
  }
  &__form {
    flex: 0 1 600px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @include laptop-min {
      margin: 0 auto;
    }
    @include tablet {
      gap: 15px;
    }

    .btn-s {
      width: 100%;
    }
  }
}
