@use "../base/templates" as *;
@use "../base/media" as *;

.s-services {
  &__slider {
  }
  &__slider-wrapper {
  }
  &__slide {
    height: auto !important;
    box-sizing: border-box;
    .card-service {
      height: 100%;
    }
  }
}
