@use "../base/templates" as *;
@use "../base/media" as *;

.s-single {
  &__wrapper {
    display: flex;
    align-items: start;
    gap: 40px;
    @include laptop-min {
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  &__info {
    flex: 0 1 1020px;
    @include laptop-min {
      flex: auto;
      width: 100%;
    }
  }
  &__content {
  }
  &__bottom-content {
    font-style: italic;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid var(--border-color);
    color: rgba(255, 255, 255, 0.5);
    @include tablet {
      margin-top: 25px;
      padding-top: 25px;
    }
  }
  &__img {
    position: sticky;
    top: 100px;
    display: block;
    flex-shrink: 0;
    width: 500px;
    aspect-ratio: 1/1;
    object-fit: cover;
    @include laptop-middle {
      width: 400px;
    }
    @include laptop-min {
      width: 500px;
      margin: 0 auto;
    }
  }
}