@use "../base/templates" as *;
@use "../base/media" as *;

.body-hidden {
  overflow: hidden;
  touch-action: none;
}
.body {
  position: relative;
  background-color: var(--dark);
  color: white;
  min-height: 100dvh;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;

  @include tablet {
    font-size: 15px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    display: block;
    width: 1px;
    background-color: var(--border-color);

    z-index: 10;
  }
  &::before {
    left: var(--offset);
    @include desktop-big {
      left: 14px;
    }
    @include tablet {
      left: 7px;
    }
  }
  // &::after {
  //   right: var(--offset);
  //   @include desktop-big {
  //     right: 14px;
  //   }
  //   @include tablet {
  //     right: 7px;
  //   }
  // }

  a {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
}
