@use "../base/templates" as *;
@use "../base/media" as *;

.body-hidden {
  overflow: hidden;
  touch-action: none;
}
.body {
  --offset: calc((100vw - var(--container-width)) / 2 - 30px);

  position: relative;
  background-color: var(--dark);
  color: white;
  min-height: 100dvh;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;

  @media (max-width: 1760px) {
    --offset: 15px;
  }
  @include tablet {
    --offset: 8px;
    font-size: 15px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    display: block;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.1);

    z-index: 10;
  }
  &::before {
    left: var(--offset);
  }
  &::after {
    right: var(--offset);
  }

  a {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
     -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
}
