@use "../base/media" as *;

:root {
  --content-width: 1620px;
  --offset-width: 30px;
  --container-width: calc(var(--content-width) + (var(--offset-width) * 2));

  @include tablet {
    --offset-width: 16px;
  }
}

.container {
  max-width: var(--container-width);
  width: 100%;
  padding: 0 var(--offset-width);
  margin: 0 auto;
}
