:root {
  --border-color: rgba(255, 255, 255, 0.1);

  --dark: #323232;
  --dark-b: #262626;
  --dark-m: #2d2d2d;

  --primary: #a2dd5c;
  --primary-d: #7aa842;

  --gray: #808080;

  --light: #f2f2f2;
}
