<footer class="footer">
  <div class="footer__head">
    <div class="container">
      <a href="/" class="footer__logo">
        <img src="@img/logo.svg" alt="logo" />
      </a>
    </div>
  </div>
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__body">
        <div class="footer__contacts">
          <div class="footer__contacts-row">
            <div class="footer__contacts-item">
              <div class="footer__title">Телефон для связи</div>
              <a href="tel:83462555512" class="footer__tel">
                8 (3462) 55-55-12
              </a>
            </div>
            <div class="footer__contacts-item">
              <div class="footer__title">Мессенджеры</div>
              <div class="social">
                <a href="#" target="_blank" rel="nofollow" class="social-btn">
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-tg"></use>
                  </svg>
                </a>
                <a href="#" target="_blank" rel="nofollow" class="social-btn">
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-max"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="footer__contacts-row">
            <div class="footer__contacts-item">
              <div class="footer__title">Адрес офиса</div>
              <div class="footer__address">
                ХМАО – Югра, г.Сургут, ул. Щепеткина, 50/2
                <br />
                <span>пн-пт с 9:00 до 17:00, сб-вс - выходной</span>
              </div>
            </div>
            <div class="footer__contacts-item">
              <div class="footer__title">Email</div>
              <a href="mailto:ooo@econadzor.com" class="footer__mail">
                ooo@econadzor.com
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__body">
        <div class="footer__title">О компании</div>
        <ul class="list footer__list">
          <li><a href="#">О нас</a></li>
          <li><a href="#">Наши реквизиты</a></li>
          <li><a href="#">Вакансии</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="footer__body">
        <div class="footer__title">Услуги</div>
        <ul class="list footer__list _grid">
          <li>
            <a href="#">Обезвреживание и утилизация ртутьсодержащих отходов</a>
          </li>
          <li>
            <a href="#">Обезвреживание и утилизация ртутьсодержащих отходов</a>
          </li>
          <li>
            <a href="#">Обезвреживание и утилизация нефтесодержащих отходов</a>
          </li>
          <li>
            <a href="#">Обезвреживание и утилизация нефтесодержащих отходов</a>
          </li>
          <li>
            <a href="#">Обезвреживание и утилизация ртутьсодержащих отходов</a>
          </li>
          <li>
            <a href="#">Обезвреживание и утилизация ртутьсодержащих отходов</a>
          </li>
          <li>
            <a href="#">Обезвреживание и утилизация нефтесодержащих отходов</a>
          </li>
          <li>
            <a href="#">Обезвреживание и утилизация нефтесодержащих отходов</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-wrapper">
        <div class="footer__copyright">© Эконадзор, 2010-2025</div>
        <ul class="list footer__bottom-list">
          <li><a href="#" target="_blank">Политика конфиденциальности</a></li>
          <li>
            <a href="#" target="_blank">
              Правила обработки персональных данных
            </a>
          </li>
        </ul>
        <a href="https://qorix.ru/" target="_blank" class="footer__dev">
          <span>Разработка сайта —</span>
          <img src="@img/qorix.svg" alt="logo" />
        </a>
      </div>
    </div>
  </div>
</footer>

<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/swiper/swiper.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>
<script src="./files/tippy/popper.min.js"></script>
<script src="./files/tippy/tippy.min.js"></script>
