<section class="intro">
  <div class="swiper intro__slider-gallery">
    <div class="swiper-wrapper">
      <div class="swiper-slide intro__slide-gallery">
        <img src="@img/intro.jpg" alt="image" />
      </div>
      <div class="swiper-slide intro__slide-gallery">
        <img src="@img/intro.jpg" alt="image" />
      </div>
      <div class="swiper-slide intro__slide-gallery">
        <img src="@img/intro.jpg" alt="image" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="swiper intro__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide intro__slide">
          <div class="intro__slide-title">Эконадзор —</div>
          <p class="intro__slide-content">
            С другой стороны, постоянный количественный рост и сфера нашей
            активности, в своём классическом представлении, допускает внедрение
            экспериментов, поражающих по своей масштабности и грандиозности.
          </p>
          <a href="#" class="btn-s _outline">
            <span>Подробнее об услуге</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </a>
        </div>
        <div class="swiper-slide intro__slide">
          <div class="intro__slide-title">Эконадзор — 2</div>
          <p class="intro__slide-content">
            С другой стороны, постоянный количественный рост и сфера нашей
            активности, в своём классическом представлении, допускает внедрение
          </p>
        </div>
        <div class="swiper-slide intro__slide">
          <div class="intro__slide-title">Эконадзор — 2</div>
          <p class="intro__slide-content">
            С другой стороны, постоянный количественный рост и сфера нашей
            активности, в своём классическом представлении, допускает внедрение
          </p>
          <a href="#" class="btn-s _outline">
            <span>Подробнее об услуге</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
