<section class="intro">
  <div class="intro__body">
    <div class="swiper intro__slider-gallery">
      <div class="swiper-wrapper">
        <div class="swiper-slide intro__slide-gallery">
          <img src="@img/intro.jpg" alt="image" />
        </div>
        <div class="swiper-slide intro__slide-gallery">
          <img src="@img/intro.jpg" alt="image" />
        </div>
        <div class="swiper-slide intro__slide-gallery">
          <img src="@img/intro.jpg" alt="image" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="intro__wrapper">
        <div class="swiper intro__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide intro__slide">
              <div class="intro__slide-title">Эконадзор —</div>
              <p class="intro__slide-content">
                С другой стороны, постоянный количественный рост и сфера нашей
                активности, в своём классическом представлении, допускает
                внедрение экспериментов, поражающих по своей масштабности и
                грандиозности.
              </p>
              <a href="#" class="btn-s _outline">
                <span>Подробнее об услуге</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
                </svg>
              </a>
            </div>
            <div class="swiper-slide intro__slide">
              <div class="intro__slide-title">Эконадзор — 2</div>
              <p class="intro__slide-content">
                С другой стороны, постоянный количественный рост и сфера нашей
                активности, в своём классическом представлении, допускает
                внедрение
              </p>
            </div>
            <div class="swiper-slide intro__slide">
              <div class="intro__slide-title">Эконадзор — 3</div>
              <p class="intro__slide-content">
                С другой стороны, постоянный количественный рост и сфера нашей
                активности, в своём классическом представлении, допускает
                внедрение
              </p>
              <a href="#" class="btn-s _outline">
                <span>Подробнее об услуге</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div
          data-da=".intro, 991"
          class="intro__form-wrapper"
          data-items-select="Утилизация отходов,Бухгалтерское сопровождение,Экологическое сопровождение,Рекультивационные мероприятия,Прием ртутных ламп,Утилизация отходов, Бухгалтерское сопровождение,Экологическое сопровождение,Рекультивационные мероприятия,Прием ртутных ламп"
        >
          <div class="t-title intro__form-title">Оставить заявку</div>
          <form action="#" class="intro__form">
            <div class="input-control">
              <input type="text" placeholder="Имя" class="input" />
            </div>
            <div class="select select-items">
              <div class="select-btn">
                <input
                  type="text"
                  placeholder="Выберите тип услуги"
                  readonly
                  class="input select-input"
                />
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-down"></use>
                </svg>
              </div>
              <div class="select-body"></div>
            </div>
            <div class="input-control">
              <input type="tel" placeholder="Телефон" class="input" />
            </div>
            <div class="check-wrapper _light">
              <span class="wpcf7-form-control-wrap" data-name="acceptance-227">
                <span class="wpcf7-form-control wpcf7-acceptance">
                  <span class="wpcf7-list-item">
                    <label>
                      <input
                        type="checkbox"
                        name="acceptance-227"
                        value="1"
                        aria-invalid="false"
                      />
                      <span class="wpcf7-list-item-label">
                        <span>
                          Я соглашаюсь с
                          <a href="/personal-data" target="_blank">
                            Политикой обработки персональных данных
                          </a>
                          и
                          <a href="/privacy-policy" target="_blank">
                            Политикой конфиденциальности
                          </a>
                        </span>
                      </span>
                    </label>
                  </span>
                </span>
              </span>
            </div>
            <button type="submit" class="btn-s">Отправить</button>
          </form>
        </div>
        <div class="intro__slide-next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="slider-pagination intro__slider-pagination"></div>
  </div>
</section>
