<aside>
  <div class="modal" id="modal-connect">
    <div class="modal__body">
      <div class="modal__title">Оставить заявку</div>
      <div
        data-items-select="Утилизация отходов,Бухгалтерское сопровождение,Экологическое сопровождение,Рекультивационные мероприятия,Прием ртутных ламп,Утилизация отходов, Бухгалтерское сопровождение,Экологическое сопровождение,Рекультивационные мероприятия,Прием ртутных ламп"
      >
        <form action="#" class="modal__form">
          <div class="input-control">
            <input type="text" placeholder="Имя" class="input" />
          </div>
          <div class="select select-items">
            <div class="select-btn">
              <input
                type="text"
                placeholder="Выберите тип услуги"
                readonly
                class="input select-input"
              />
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </div>
            <div class="select-body"></div>
          </div>
          <div class="input-control">
            <input type="tel" placeholder="Телефон" class="input" />
          </div>
        </form>
      </div>
    </div>
  </div>
</aside>
