<section class="s-adv">
  <div class="container">
    <div class="s-adv__grid">
      <div class="s-adv__item">
        <div class="num">100</div>
        <div class="text">
          пример
          <br />
          преимущества
        </div>
      </div>
      <div class="s-adv__item">
        <div class="num">1,786</div>
        <div class="text">довольных клиентов</div>
      </div>
      <div class="s-adv__item">
        <div class="num">350</div>
        <div class="text">ежедневно обслуживаемых клиентов</div>
      </div>
      <div class="s-adv__item">
        <div class="num">15</div>
        <div class="text">
          лет
          <br />
          на рынке
        </div>
      </div>
    </div>
  </div>
</section>
