<section class="sect-p bg-dark-m s-archive-news">
  <div class="container">
    <div class="sect-head">
      <h1 class="s-title">Пресс-релиз</h1>
    </div>
    <div class="s-archive-news__grid">
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/card-new.jpg" alt="image" />
          <div class="card-new__date">06.11.2025</div>
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            К 1 декабря регионы должны представить планы по закупке техники для
            вывоза отходов на 2026–2028 год
          </h5>
          <div class="card-new__btn btn-s _outline">
            <span>Читать подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/card-new.jpg" alt="image" />
          <div class="card-new__date">06.11.2025</div>
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            В Сургуте мусорные площадки завалило шинами
          </h5>
          <div class="card-new__btn btn-s _outline">
            <span>Читать подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/card-new.jpg" alt="image" />
          <div class="card-new__date">06.11.2025</div>
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            К 1 декабря регионы должны представить планы по закупке техники для
            вывоза отходов на 2026–2028 год
          </h5>
          <div class="card-new__btn btn-s _outline">
            <span>Читать подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/card-new.jpg" alt="image" />
          <div class="card-new__date">06.11.2025</div>
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            В Сургуте мусорные площадки завалило шинами
          </h5>
          <div class="card-new__btn btn-s _outline">
            <span>Читать подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/card-new.jpg" alt="image" />
          <div class="card-new__date">06.11.2025</div>
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            К 1 декабря регионы должны представить планы по закупке техники для
            вывоза отходов на 2026–2028 год
          </h5>
          <div class="card-new__btn btn-s _outline">
            <span>Читать подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/card-new.jpg" alt="image" />
          <div class="card-new__date">06.11.2025</div>
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            В Сургуте мусорные площадки завалило шинами
          </h5>
          <div class="card-new__btn btn-s _outline">
            <span>Читать подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/card-new.jpg" alt="image" />
          <div class="card-new__date">06.11.2025</div>
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            К 1 декабря регионы должны представить планы по закупке техники для
            вывоза отходов на 2026–2028 год
          </h5>
          <div class="card-new__btn btn-s _outline">
            <span>Читать подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/card-new.jpg" alt="image" />
          <div class="card-new__date">06.11.2025</div>
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            В Сургуте мусорные площадки завалило шинами
          </h5>
          <div class="card-new__btn btn-s _outline">
            <span>Читать подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/card-new.jpg" alt="image" />
          <div class="card-new__date">06.11.2025</div>
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            К 1 декабря регионы должны представить планы по закупке техники для
            вывоза отходов на 2026–2028 год
          </h5>
          <div class="card-new__btn btn-s _outline">
            <span>Читать подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/card-new.jpg" alt="image" />
          <div class="card-new__date">06.11.2025</div>
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            В Сургуте мусорные площадки завалило шинами
          </h5>
          <div class="card-new__btn btn-s _outline">
            <span>Читать подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/card-new.jpg" alt="image" />
          <div class="card-new__date">06.11.2025</div>
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            К 1 декабря регионы должны представить планы по закупке техники для
            вывоза отходов на 2026–2028 год
          </h5>
          <div class="card-new__btn btn-s _outline">
            <span>Читать подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/card-new.jpg" alt="image" />
          <div class="card-new__date">06.11.2025</div>
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            В Сургуте мусорные площадки завалило шинами
          </h5>
          <div class="card-new__btn btn-s _outline">
            <span>Читать подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
    </div>
    <div class="s-archive-news__bottom">
      <div class="s-archive-news__btn-more">
        <span>Показать ещё</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-return"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
