<section class="sect-p bg-dark-m s-archive-services">
  <div class="container">
    <div class="sect-head">
      <h1 class="s-title">Чем мы занимаемся</h1>
    </div>
    <div class="nav-slider-wrapper">
      <div class="swiper nav-slider">
        <div class="swiper-wrapper">
          <a href="#" class="swiper-slide nav-slider__item _active">
            Утилизация отходов
          </a>
          <a href="#" class="swiper-slide nav-slider__item">
            Прием ртутных ламп
          </a>
          <a href="#" class="swiper-slide nav-slider__item">
            Экологическое сопровождение
          </a>
          <a href="#" class="swiper-slide nav-slider__item">
            Бухгалтерское сопровождение
          </a>
          <a href="#" class="swiper-slide nav-slider__item">
            Рекультивационные мероприятия
          </a>
          <a href="#" class="swiper-slide nav-slider__item">
            Реализация почвогрунта
          </a>
          <a href="#" class="swiper-slide nav-slider__item">
            Утилизация отходов
          </a>
          <a href="#" class="swiper-slide nav-slider__item">
            Прием ртутных ламп
          </a>
          <a href="#" class="swiper-slide nav-slider__item">
            Экологическое сопровождение
          </a>
          <a href="#" class="swiper-slide nav-slider__item">
            Бухгалтерское сопровождение
          </a>
          <a href="#" class="swiper-slide nav-slider__item">
            Рекультивационные мероприятия
          </a>
          <a href="#" class="swiper-slide nav-slider__item">
            Реализация почвогрунта
          </a>
        </div>
      </div>
      <div class="nav-slider__next-btn">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-next"></use>
        </svg>
      </div>
    </div>
    <div class="s-archive-services__grid">
      <a href="#" class="card-service">
        <span>Утилизация отходов</span>
        <div class="card-service__btn">
          <span>Подробнее</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
      </a>
      <a href="#" class="card-service">
        <span>Обезвреживание и утилизация нефтесодержащих отходов</span>
        <div class="card-service__btn">
          <span>Подробнее</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
      </a>
      <a href="#" class="card-service">
        <span>Обезвреживание и утилизация осадков сточных вод</span>
        <div class="card-service__btn">
          <span>Подробнее</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
      </a>
      <a href="#" class="card-service">
        <span>Разработка экологической документации</span>
        <div class="card-service__btn">
          <span>Подробнее</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
      </a>
      <a href="#" class="card-service">
        <span>Прием резинотехнических изделий</span>
        <div class="card-service__btn">
          <span>Подробнее</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
      </a>
      <a href="#" class="card-service">
        <span>Прием отработанной оргтехники</span>
        <div class="card-service__btn">
          <span>Подробнее</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
      </a>
      <a href="#" class="card-service">
        <span>Прием полимерсодержащих отходов</span>
        <div class="card-service__btn">
          <span>Подробнее</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
