<section class="s-connect sect-p bg-dark-m">
  <div class="container">
    <div class="s-connect__body">
      <div class="s-connect__head">
        <h2 class="s-title _simple">Свяжитесь с нами</h2>
        <p class="s-connect__descr">
          Наш менеджер свяжется с Вами в ближайшее время и ответит на все Ваши
          вопросы
        </p>
      </div>
      <form action="#" class="s-connect__form">
        <div class="input-control">
          <input type="text" placeholder="Имя" class="input" />
        </div>
        <div class="input-control">
          <input type="tel" placeholder="Телефон" class="input" />
        </div>
        <button type="submit" class="btn-s">Отправить</button>
        <div class="check-wrapper _dark">
          <span class="wpcf7-form-control-wrap" data-name="acceptance-227">
            <span class="wpcf7-form-control wpcf7-acceptance">
              <span class="wpcf7-list-item">
                <label>
                  <input
                    type="checkbox"
                    name="acceptance-227"
                    value="1"
                    aria-invalid="false"
                  />
                  <span class="wpcf7-list-item-label">
                    <span>
                      Я соглашаюсь с
                      <a href="/personal-data" target="_blank">
                        Политикой обработки персональных данных
                      </a>
                      и
                      <a href="/privacy-policy" target="_blank">
                        Политикой конфиденциальности
                      </a>
                    </span>
                  </span>
                </label>
              </span>
            </span>
          </span>
        </div>
      </form>
    </div>
  </div>
</section>
