<section class="s-descr sect-p bg-dark-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Условия эксплуатации</h2>
    </div>
    <div class="s-descr__grid">
      <div class="s-descr__item content">
        <p>
          Контейнеры для хранение отработанных ртутных ламп не требуют особых
          условий эксплуатации. Лампы следует накапливать не более, чем до
          полугода. Для каждого типа ламп должен быть свой отдельный контейнер.
          Каждый контейнер должен быть подписан и указан тип ламп.
        </p>
      </div>
      <div class="s-descr__item content">
        <p>
          На этапе накопления ртутьсодержащих ламп обязательно сохранение
          герметичности колбы ртутьсодержащей лампы для предотвращения попадания
          паров ртути в окружающую среду. Важным условием при замене и
          накоплении ртутьсодержащих ламп является строгий учет и предотвращение
          свободного доступа посторонних лиц к отработанным лампам.
        </p>
      </div>
    </div>
  </div>
</section>
