<section class="s-features sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Преимущества установки «Экотром-2У»</h2>
    </div>
    <div class="swiper s-features__slider">
      <div class="swiper-wrapper s-features__grid">
        <article class="swiper-slide s-features__slide">
          <img
            src="@img/icon-feature.svg"
            alt="icon"
            class="s-features__slide-icon"
          />
          <h5 class="s-features__slide-title">Универсальность</h5>
          <p class="content s-features__slide-content">
            В своём стремлении повысить качество жизни, они забывают, что
            консультация с широким активом однозначно фиксирует необходимость
            форм воздействия!
          </p>
        </article>
        <article class="swiper-slide s-features__slide">
          <img
            src="@img/icon-feature.svg"
            alt="icon"
            class="s-features__slide-icon"
          />
          <h5 class="s-features__slide-title">Практически безотходная</h5>
          <p class="content s-features__slide-content">
            В своём стремлении повысить качество жизни, они забывают, что
            консультация с широким активом однозначно фиксирует необходимость
            форм воздействия!
          </p>
        </article>
        <article class="swiper-slide s-features__slide">
          <img
            src="@img/icon-feature.svg"
            alt="icon"
            class="s-features__slide-icon"
          />
          <h5 class="s-features__slide-title">Безопасно для окружающей среды</h5>
          <p class="content s-features__slide-content">
            В своём стремлении повысить качество жизни, они забывают, что
            консультация 
          </p>
        </article>
        <article class="swiper-slide s-features__slide">
          <img
            src="@img/icon-feature.svg"
            alt="icon"
            class="s-features__slide-icon"
          />
          <h5 class="s-features__slide-title">Высокая производительность</h5>
          <p class="content s-features__slide-content">
            В своём стремлении повысить качество жизни, они забывают, что
            консультация с широким активом однозначно фиксирует необходимость
            форм воздействия!
          </p>
        </article>
      </div>
    </div>
    <div class="slider-pagination _mob"></div>
  </div>
</section>
