<section class="s-hero sect-p bg-dark-m">
  <div class="container">
    <div class="s-hero__wrapper">
      <div class="s-hero__info">
        <h1 class="s-title s-hero__title">
          Полный комплекс услуг бухгалтерского и налогового аутсорсинга ООО и ИП
        </h1>
        <img src="@img/hero-service.jpg" alt="image" class="s-hero__img _mob" />
        <div class="content s-hero__content">
          <p>
            Полный комплекс услуг бухгалтерского и налогового аутсорсинга ООО и ИП на любой системе налогообложения, занимающиеся оптовой/розничной торговлей, оказывающие различные услуги, производственные и строительные, железнодорожные услуги, организации общепита, участвующие в гос. тендерах (имеющие спецсчета), ведущие внешнеэкономическую деятельность.
          </p>
        </div>
        
      </div>
      <img src="@img/accountant.jpg" alt="image" class="s-hero__img _desk" />
    </div>
  </div>
</section>
