<section class="s-hero sect-p bg-dark-m">
  <div class="container">
    <div class="s-hero__wrapper">
      <div class="s-hero__info">
        <h1 class="s-title s-hero__title">
          Обезвреживание и утилизация ртутьсодержащих отходов в Югре
        </h1>
        <div class="content s-hero__content">
          <p>
            ООО «Эконадзор» предлагает услуги по вывозу и обезвреживанию
            ртутьсодержащих энергосберегающих люминесцентных ламп разных типов,
            а также подготовке соответствующей документации, необходимой для
            отчета перед государственными органами. 
          </p>
        </div>
        <a
          href="@img/check-primary.svg"
          download
          class="s-hero__download btn-download"
        >
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-download"></use>
          </svg>
          <span>Скачать и заполнить договор</span>
        </a>
        <div class="s-hero__buttons">
          <a href="#modal-connect" data-fancybox class="btn-s">
            Оставить заявку
          </a>
          <a href="#" target="_blank" class="btn-s _outline">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
            <span>Написать в Telegram</span>
          </a>
          <a href="#" target="_blank" class="btn-s _outline">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-max"></use>
            </svg>
            <span>Написать в Max</span>
          </a>
        </div>
      </div>
      <img src="@img/hero-service.jpg" alt="image" class="s-hero__img">
    </div>
  </div>
</section>
