<section class="s-info sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">
        ООО «Эконадзор» осуществляет сбор, транспортирование, обезвреживание и
        утилизацию следующих видов отходов
      </h2>
    </div>
    <div class="content s-info__content">
      <p>
        И другие виды отходов в соответствии
        <a href="#">с нашей лицензией</a>
      </p>
    </div>
    <div class="s-info__slider-wrapper">
      <div class="slider-arrow _prev">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
        </svg>
      </div>
      <div class="slider-arrow _next">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
        </svg>
      </div>
      <div class="swiper s-info__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide s-info__slide">
            <div class="s-info__slide-item">
              Лампы ртутные, ртутно-кварцевые, люминесцентные, утратившие
              потребительские свойства
            </div>
            <div class="s-info__slide-item">Отходы термометров ртутных</div>
          </div>
          <div class="swiper-slide s-info__slide">
            <div class="s-info__slide-item">Отходы термометров ртутных</div>
            <div class="s-info__slide-item">
              Лампы ртутные, ртутно-кварцевые, люминесцентные, утратившие
              потребительские свойства
            </div>
          </div>
          <div class="swiper-slide s-info__slide">
            <div class="s-info__slide-item">
              Лампы ртутные, ртутно-кварцевые, люминесцентные, утратившие
              потребительские свойства
            </div>
            <div class="s-info__slide-item">Отходы термометров ртутных</div>
          </div>
          <div class="swiper-slide s-info__slide">
            <div class="s-info__slide-item">Отходы термометров ртутных</div>
            <div class="s-info__slide-item">
              Лампы ртутные, ртутно-кварцевые, люминесцентные, утратившие
              потребительские свойства
            </div>
          </div>
          <div class="swiper-slide s-info__slide">
            <div class="s-info__slide-item">
              Лампы ртутные, ртутно-кварцевые, люминесцентные, утратившие
              потребительские свойства
            </div>
            <div class="s-info__slide-item">Отходы термометров ртутных</div>
          </div>
          <div class="swiper-slide s-info__slide">
            <div class="s-info__slide-item">Отходы термометров ртутных</div>
            <div class="s-info__slide-item">
              Лампы ртутные, ртутно-кварцевые, люминесцентные, утратившие
              потребительские свойства
            </div>
          </div>
          <div class="swiper-slide s-info__slide">
            <div class="s-info__slide-item">
              Лампы ртутные, ртутно-кварцевые, люминесцентные, утратившие
              потребительские свойства
            </div>
            <div class="s-info__slide-item">Отходы термометров ртутных</div>
          </div>
          <div class="swiper-slide s-info__slide">
            <div class="s-info__slide-item">Отходы термометров ртутных</div>
            <div class="s-info__slide-item">
              Лампы ртутные, ртутно-кварцевые, люминесцентные, утратившие
              потребительские свойства
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
