<section class="s-news sect-p bg-dark-m">
  <div class="container">
    <div class="sect-head _end s-news__head">
      <h2 class="s-title">Пресс-релизы</h2>
      <a href="#" class="btn-simple">
        <span>Все наши пресс-релизы</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
      </a>
      <a href="#" class="btn-s _outline s-news__head-btn">
        <span>Все наши пресс-релизы</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
      </a>
    </div>
    <div class="s-news__slider-wrapper">
      <div class="slider-arrow _prev">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
        </svg>
      </div>
      <div class="slider-arrow _next">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-next"></use>
        </svg>
      </div>
      <div class="swiper s-news__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="card-new">
              <div class="card-new__gallery">
                <img src="@img/card-new.jpg" alt="image" />
                <div class="card-new__date">06.11.2025</div>
              </div>
              <div class="card-new__body">
                <h5 class="card-new__title">
                  К 1 декабря регионы должны представить планы по закупке
                  техники для вывоза отходов на 2026–2028 год
                </h5>
                <div class="card-new__btn btn-s _outline">
                  <span>Читать подробнее</span>
                  <svg>
                    <use
                      xlink:href="img/icons/icons.svg#icon-arrow-rotate"
                    ></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-new">
              <div class="card-new__gallery">
                <img src="@img/card-new.jpg" alt="image" />
                <div class="card-new__date">06.11.2025</div>
              </div>
              <div class="card-new__body">
                <h5 class="card-new__title">
                  В Сургуте мусорные площадки завалило шинами
                </h5>
                <div class="card-new__btn btn-s _outline">
                  <span>Читать подробнее</span>
                  <svg>
                    <use
                      xlink:href="img/icons/icons.svg#icon-arrow-rotate"
                    ></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-new">
              <div class="card-new__gallery">
                <img src="@img/card-new.jpg" alt="image" />
                <div class="card-new__date">06.11.2025</div>
              </div>
              <div class="card-new__body">
                <h5 class="card-new__title">
                  Регионы смогут получить бюджетные субсидии на ликвидацию
                  экологического вреда
                </h5>
                <div class="card-new__btn btn-s _outline">
                  <span>Читать подробнее</span>
                  <svg>
                    <use
                      xlink:href="img/icons/icons.svg#icon-arrow-rotate"
                    ></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-new">
              <div class="card-new__gallery">
                <img src="@img/card-new.jpg" alt="image" />
                <div class="card-new__date">06.11.2025</div>
              </div>
              <div class="card-new__body">
                <h5 class="card-new__title">
                  Росприроднадзор открыл прием работ на всероссийскую акцию
                  «Экоелка»
                </h5>
                <div class="card-new__btn btn-s _outline">
                  <span>Читать подробнее</span>
                  <svg>
                    <use
                      xlink:href="img/icons/icons.svg#icon-arrow-rotate"
                    ></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-new">
              <div class="card-new__gallery">
                <img src="@img/card-new.jpg" alt="image" />
                <div class="card-new__date">06.11.2025</div>
              </div>
              <div class="card-new__body">
                <h5 class="card-new__title">
                  К 1 декабря регионы должны представить планы по закупке
                  техники для вывоза отходов на 2026–2028 год
                </h5>
                <div class="card-new__btn btn-s _outline">
                  <span>Читать подробнее</span>
                  <svg>
                    <use
                      xlink:href="img/icons/icons.svg#icon-arrow-rotate"
                    ></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-new">
              <div class="card-new__gallery">
                <img src="@img/card-new.jpg" alt="image" />
                <div class="card-new__date">06.11.2025</div>
              </div>
              <div class="card-new__body">
                <h5 class="card-new__title">
                  В Сургуте мусорные площадки завалило шинами
                </h5>
                <div class="card-new__btn btn-s _outline">
                  <span>Читать подробнее</span>
                  <svg>
                    <use
                      xlink:href="img/icons/icons.svg#icon-arrow-rotate"
                    ></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-new">
              <div class="card-new__gallery">
                <img src="@img/card-new.jpg" alt="image" />
                <div class="card-new__date">06.11.2025</div>
              </div>
              <div class="card-new__body">
                <h5 class="card-new__title">
                  Регионы смогут получить бюджетные субсидии на ликвидацию
                  экологического вреда
                </h5>
                <div class="card-new__btn btn-s _outline">
                  <span>Читать подробнее</span>
                  <svg>
                    <use
                      xlink:href="img/icons/icons.svg#icon-arrow-rotate"
                    ></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-new">
              <div class="card-new__gallery">
                <img src="@img/card-new.jpg" alt="image" />
                <div class="card-new__date">06.11.2025</div>
              </div>
              <div class="card-new__body">
                <h5 class="card-new__title">
                  Росприроднадзор открыл прием работ на всероссийскую акцию
                  «Экоелка»
                </h5>
                <div class="card-new__btn btn-s _outline">
                  <span>Читать подробнее</span>
                  <svg>
                    <use
                      xlink:href="img/icons/icons.svg#icon-arrow-rotate"
                    ></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination _mob"></div>
  </div>
</section>
