<section class="s-news sect-m">
  <div class="container">
    <div class="sect-head _end s-news__head">
      <h2 class="s-title">Пресс-релизы</h2>
      <a href="#" class="btn-simple">
        <span>Все наши пресс-релизы</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
      </a>
      <a href="#" class="btn-s _outline s-news__head-btn">
        <span>Все наши пресс-релизы</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
