<section class="s-request sect-p bg-dark-m">
  <div class="container">
    <div class="s-request__body">
      <div class="s-request__wrapper">
        <div class="s-request__info">
          <h2 class="s-title _simple s-request__title">Оставить заявку</h2>
          <p class="s-request__content">
            Если у Вас есть вопросы или Вы хотите сделать заявку просто
            заполните контактную форму, и мы ответим вам в ближайшее время.
            <br />
            <br />
            Или напишите нам в мессенджер:
          </p>
          <div class="s-request__buttons">
            <a
              href="#"
              target="_blank"
              rel="nofollow"
              class="btn-s _outline-dark"
            >
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-tg"></use>
              </svg>
              <span>Написать в Telegram</span>
            </a>
            <a
              href="#"
              target="_blank"
              rel="nofollow"
              class="btn-s _outline-dark"
            >
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-max"></use>
              </svg>
              <span>Написать в Max</span>
            </a>
          </div>
        </div>
        <form action="#" class="s-request__form">
          <div class="input-control">
            <input type="text" placeholder="Имя" class="input _p-dark" />
          </div>
          <div class="input-variants">
            <div class="input-variants__title">Выберите удобный тип связи</div>
            <span class="wpcf7-form-control-wrap" data-name="radio-301">
              <span class="wpcf7-form-control wpcf7-radio">
                <span class="wpcf7-list-item">
                  <label>
                    <input
                      type="radio"
                      name="radio-301"
                      value="Telegram"
                      checked="checked"
                    />
                    <span class="wpcf7-list-item-label">Telegram</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="radio" name="radio-301" value="Max" />
                    <span class="wpcf7-list-item-label">Max</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="radio" name="radio-301" value="Звонок" />
                    <span class="wpcf7-list-item-label">Звонок</span>
                  </label>
                </span>
              </span>
            </span>
          </div>
          <div class="input-control">
            <input type="tel" placeholder="Телефон" class="input _p-dark" />
          </div>
          <div class="check-wrapper _black">
            <span class="wpcf7-form-control-wrap" data-name="acceptance-227">
              <span class="wpcf7-form-control wpcf7-acceptance">
                <span class="wpcf7-list-item">
                  <label>
                    <input
                      type="checkbox"
                      name="acceptance-227"
                      value="1"
                      aria-invalid="false"
                    />
                    <span class="wpcf7-list-item-label">
                      <span>
                        Я соглашаюсь с
                        <a href="/personal-data" target="_blank">
                          Политикой обработки персональных данных
                        </a>
                        и
                        <a href="/privacy-policy" target="_blank">
                          Политикой конфиденциальности
                        </a>
                      </span>
                    </span>
                  </label>
                </span>
              </span>
            </span>
          </div>
          <button type="submit" class="btn-s _black">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
