<section class="sect-m s-requisites">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Наши реквизиты</h2>
    </div>
    <div class="s-requisites__items">
      <div class="s-requisites__item">
        <span class="name">
          Полное наименование юридического лица на русском языке
        </span>
        <div class="value">
          Общество с ограниченной ответственностью «ЭКОНАДЗОР»
        </div>
        <div class="copy-btn" data-copy="Какой то текст для копирования">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-copy"></use>
          </svg>
          <span>Копировать</span>
        </div>
      </div>
      <div class="s-requisites__item">
        <span class="name">Юридический адрес</span>
        <div class="value">ХМАО – Югра, г.Сургут, ул. Щепеткина, 50/2</div>
        <div class="copy-btn" data-copy="Какой то текст для копирования">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-copy"></use>
          </svg>
          <span>Копировать</span>
        </div>
      </div>
      <div class="s-requisites__item">
        <span class="name">
          Полное наименование юридического лица на русском языке
        </span>
        <div class="value">
          Общество с ограниченной ответственностью «ЭКОНАДЗОР»
        </div>
        <div class="copy-btn" data-copy="Какой то текст для копирования">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-copy"></use>
          </svg>
          <span>Копировать</span>
        </div>
      </div>
      <div class="s-requisites__item">
        <span class="name">Юридический адрес</span>
        <div class="value">ХМАО – Югра, г.Сургут, ул. Щепеткина, 50/2</div>
        <div class="copy-btn" data-copy="Какой то текст для копирования">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-copy"></use>
          </svg>
          <span>Копировать</span>
        </div>
      </div>
      <div class="s-requisites__item">
        <span class="name">
          Полное наименование юридического лица на русском языке
        </span>
        <div class="value">
          Общество с ограниченной ответственностью «ЭКОНАДЗОР»
        </div>
        <div class="copy-btn" data-copy="Какой то текст для копирования">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-copy"></use>
          </svg>
          <span>Копировать</span>
        </div>
      </div>
      <div class="s-requisites__item">
        <span class="name">Юридический адрес</span>
        <div class="value">ХМАО – Югра, г.Сургут, ул. Щепеткина, 50/2</div>
        <div class="copy-btn" data-copy="Какой то текст для копирования">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-copy"></use>
          </svg>
          <span>Копировать</span>
        </div>
      </div>
      <div class="s-requisites__item">
        <span class="name">
          Полное наименование юридического лица на русском языке
        </span>
        <div class="value">
          Общество с ограниченной ответственностью «ЭКОНАДЗОР»
        </div>
        <div class="copy-btn" data-copy="Какой то текст для копирования">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-copy"></use>
          </svg>
          <span>Копировать</span>
        </div>
      </div>
      <div class="s-requisites__item">
        <span class="name">Юридический адрес</span>
        <div class="value">ХМАО – Югра, г.Сургут, ул. Щепеткина, 50/2</div>
        <div class="copy-btn" data-copy="Какой то текст для копирования">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-copy"></use>
          </svg>
          <span>Копировать</span>
        </div>
      </div>
    </div>
  </div>
</section>
