<section class="s-services sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Чем мы занимаемся</h2>
    </div>
    <div class="swiper s-services__slider">
      <div class="swiper-wrapper s-services__slider-wrapper">
        <a href="#" class="swiper-slide s-services__slide">
          <span>Утилизация отходов</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </a>
        <a href="#" class="swiper-slide s-services__slide">
          <span>Прием ртутных ламп</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </a>
        <a href="#" class="swiper-slide s-services__slide">
          <span>Экологическое сопровождение</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </a>
        <a href="#" class="swiper-slide s-services__slide">
          <span>Бухгалтерское сопровождение</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </a>
        <a href="#" class="swiper-slide s-services__slide _primary">
          <span>Смотреть <br> все услуги</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="slider-pagination"></div>
  </div>
</section>
