<section class="s-services sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Чем мы занимаемся</h2>
    </div>
    <div class="swiper s-services__slider">
      <div class="swiper-wrapper s-services__slider-wrapper">
        <div class="swiper-slide s-services__slide">
          <a href="#" class="card-service">
            <span>Утилизация отходов</span>
            <div class="card-service__btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
              </svg>
            </div>
          </a>
        </div>
        <div class="swiper-slide s-services__slide">
          <a href="#" class="card-service">
            <span>Прием ртутных ламп</span>
            <div class="card-service__btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
              </svg>
            </div>
          </a>
        </div>
        <div class="swiper-slide s-services__slide">
          <a href="#" class="card-service">
            <span>Экологическое сопровождение</span>
            <div class="card-service__btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
              </svg>
            </div>
          </a>
        </div>
        <div class="swiper-slide s-services__slide">
          <a href="#" class="card-service">
            <span>Бухгалтерское сопровождение</span>
            <div class="card-service__btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
              </svg>
            </div>
          </a>
        </div>
        <div class="swiper-slide s-services__slide">
          <a href="#" class="card-service _primary">
            <span>Смотреть <br> все услуги</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="slider-pagination"></div>
  </div>
</section>
