<section class="s-steps sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Как мы работаем</h2>
    </div>
    <div class="swiper s-steps__slider">
      <div class="swiper-wrapper s-steps__grid">
        <div class="swiper-slide s-steps__item">
          <div class="num">1</div>
          <div class="descr">
            Современные технологии достигли такого уровня, что повышение уровня
            гражданского сознания позволяет выполнить важные задания по разработке
            новых предложений.
          </div>
        </div>
        <div class="swiper-slide s-steps__item">
          <div class="num">2</div>
          <div class="descr">
            Приятно, граждане, наблюдать, как тщательные исследования конкурентов
            могут быть обнародованы.
          </div>
        </div>
        <div class="swiper-slide s-steps__item">
          <div class="num">3</div>
          <div class="descr">
            В рамках спецификации современных стандартов, элементы политического
            процесса неоднозначны и будут преданы социально-демократической
            анафеме.
          </div>
        </div>
        <div class="swiper-slide s-steps__item">
          <div class="num">4</div>
          <div class="descr">
            Мы вынуждены отталкиваться от того, что новая модель организационной
            деятельности обеспечивает широкому кругу (специалистов) участие в
            формировании анализа существующих паттернов поведения.
          </div>
        </div>
        <div class="swiper-slide s-steps__item">
          <div class="num">5</div>
          <div class="descr">
            Современные технологии достигли такого уровня, что повышение уровня
            гражданского сознания позволяет выполнить важные задания по разработке
            новых предложений.
          </div>
        </div>
        <div class="swiper-slide s-steps__item">
          <div class="num">6</div>
          <div class="descr">
            Приятно, граждане, наблюдать, как тщательные исследования конкурентов
            могут быть обнародованы.
          </div>
        </div>
        <div class="swiper-slide s-steps__item">
          <div class="num">7</div>
          <div class="descr">
            В рамках спецификации современных стандартов, элементы политического
            процесса неоднозначны и будут преданы социально-демократической
            анафеме.
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination"></div>
  </div>
</section>
