@use "../base/templates" as *;
@use "../base/media" as *;

.breadcrumbs {
  padding: 15px 0px;
  background-color: var(--dark-m);
  border-bottom: 1px solid var(--border-color);
  .aioseo-breadcrumbs {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.5);
  }
  .aioseo-breadcrumb {
    font-weight: 300;
    line-height: 150%;
  }

  a {
    color: white;
    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
  }

  & + .sect-m {
    margin-top: 50px !important;
  }
  & + .sect-p {
    padding-top: 50px !important;
  }
}
