@use "../base/templates" as *;
@use "../base/media" as *;
.btn-s {
  --background: var(--primary);
  --border: var(--primary);
  --color: black;
  --svg-color: var(--dark);
  --background-hover: var(--primary-d);
  --border-hover: var(--primary-d);
  --color-hover: black;
  --svg-color-hover: var(--dark);
  --svg-transform-hover: 45deg;

  @include flex-center;
  outline: none;
  cursor: pointer;
  gap: 15px;
  padding: 19px 30px;
  width: fit-content;
  background-color: var(--background);
  border: 1px solid var(--border);

  text-align: center;
  font-size: 16px;
  color: var(--color);
  user-select: none;

  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;

  svg {
    width: 14px;
    height: 14px;
    color: var(--svg-color);

    transition:
      transform 0.3s ease,
      color 0.3s ease;
  }

  @include hover {
    background-color: var(--background-hover);
    border: 1px solid var(--border-hover);
    color: var(--color-hover);
    svg {
      color: var(--svg-color-hover);
      transform: rotate(var(--svg-transform-hover));
    }
  }

  &._outline {
    --background: transparent;
    --border: rgba(255, 255, 255, 0.2);
    --color: white;
    --svg-color: var(--primary);
    --background-hover: transparent;
    --border-hover: var(--primary);
    --color-hover: white;
    --svg-color-hover: var(--primary);
  }
  &._outline-dark {
    --background: transparent;
    --border: rgba(51, 51, 51, 0.2);
    --color: var(--dark);
    --svg-color: var(--dark);
    --background-hover: var(--dark);
    --border-hover: var(--dark);
    --color-hover: white;
    --svg-color-hover: white;
  }
  &._black {
    --background: var(--black);
    --border: var(--black);
    --color: white;
    --svg-color: white;
    --background-hover: transparent;
    --border-hover: var(--black);
    --color-hover: var(--black);
    --svg-color-hover: var(--black);
  }
}
.btn-simple {
  display: flex;
  align-items: center;
  gap: 15px;

  line-height: 150%;
  user-select: none;

  transition:
    color 0.3s ease,
    border-color 0.3s ease;

  @include hover {
    color: var(--primary);
    border-color: var(--primary);

    svg {
      transform: rotate(45deg);
    }
  }

  svg {
    width: 14px;
    height: 14px;
    color: var(--primary);

    transition: transform 0.3s ease;
  }
}

.btn-download {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 15px;

  line-height: 150%;
  text-decoration: underline;
  color: var(--primary);

  transition: color 0.3s ease;

  @include hover {
    color: var(--primary-d);
    text-decoration: none;
  }

  svg {
    width: 28px;
    height: 33px;
  }
}
