@use "../base/templates" as *;
@use "../base/media" as *;

.card-new {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__gallery {
    position: relative;
    aspect-ratio: 1/0.78;
    overflow: hidden;

    @include hover {
      img {
        transform: scale(1.08);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform .3s linear;
    }
  }
  &__date {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 10;

    font-size: 14px;
    text-align: center;
  }
  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  &__title {
    font-weight: 600;
    font-size: 18px;
    margin: 0px 0px 20px 0px;

    transition: color .3s ease;

    @include hover {
      color: var(--primary);
    }
  }
  &__btn {
    width: 100%;
    margin-top: auto;
  }
}
