@use "../base/templates" as *;
@use "../base/media" as *;

.content {
  line-height: 150%;
  p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 20px;
      @include tablet {
        margin-bottom: 15px;
      }
    }
  }

  ul {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 20px;
      @include tablet {
        margin-bottom: 15px;
      }
    }
  }

  a {
    color: var(--primary);

    @include hover {
      text-decoration: underline;
    }
  }
}
