@use "../base/templates" as *;
@use "../base/media" as *;

.input-control {
  width: 100%;
}
.input {
  outline: none;
  background-color: white;
  border: 2px solid white;
  padding: 14px 24px;
  width: 100%;

  user-select: none;
  font-size: 16px;
  color: black;

  transition: border-color 0.3s ease;

  &:focus {
    border-color: var(--primary);
  }
  &::placeholder {
    color: var(--gray);
  }
  &._p-dark {
    &:focus {
      border-color: var(--primary-d);
    }
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
}
textarea.input {
  resize: none;
  height: 95px;
}
.input-variants {
  width: 100%;
  &__title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .wpcf7-form-control {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  input[type="radio"] {
    display: none;
    &:checked + .wpcf7-list-item-label {
      background-color: var(--black);
      color: white;
    }
  }
  .wpcf7-list-item-label {
    @include flex-center;
    cursor: pointer;
    padding: 15px;
    background-color: white;
    width: 100%;

    user-select: none;
    font-size: 16px;
    text-align: center;

    transition:
      color 0.3s ease,
      background-color 0.3s ease;

    @include tablet {
      font-size: 15px;
    }
    @include hover {
      background-color: var(--tech);
    }
  }
}
.check-wrapper {
  position: relative;
  z-index: 1;
  color: rgba(51, 51, 51, 0.3);

  &._light {
    color: rgba(242, 242, 242, 0.3);
  }
  &._dark {
    color: rgba(51, 51, 51, 0.5);
  }
  &._black {
    color: var(--black);

    input[type="checkbox"]:checked + .wpcf7-list-item-label::before {
      background: url("@img/check-white.svg") center / 12px auto no-repeat;
      background-color: var(--black) !important;
    }
    .wpcf7-list-item-label {
      &::before {
        border-color: var(--black);
      }

      a {
        @include hover {
          color: var(--gray);
        }
      }
    }
  }

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;

    &:checked + .wpcf7-list-item-label::before {
      background: url("@img/check.svg") center / 12px auto no-repeat;
      background-color: var(--primary);
    }
  }

  .wpcf7-list-item-label {
    display: flex;
    align-items: start;
    gap: 15px;
    cursor: pointer;

    font-size: 14px;
    user-select: none;

    a {
      text-decoration: underline;
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }

    &::before {
      content: "";
      width: 18px;
      height: 18px;
      border: 1px solid var(--primary);
      flex-shrink: 0;

      transition: background-color 0.3s ease;
    }
  }
}
