@use "../base/templates" as *;
@use "../base/media" as *;

.input-control {
  width: 100%;
}
.input {
  outline: none;
  background-color: white;
  border: 2px solid white;
  padding: 14px 24px;
  width: 100%;

  font-size: 16px;
  color: black;

  transition: border-color 0.3s ease;

  &:focus {
    border-color: var(--primary);
  }
  &::placeholder {
    color: var(--gray);
  }
}
.check-wrapper {
  position: relative;
  z-index: 1;
  color: rgba(51, 51, 51, 0.3);

  &._light {
    color: rgba(242, 242, 242, 0.3);
  }

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;

    &:checked + .wpcf7-list-item-label::before {
      background: url('@img/check.svg') center / 12px auto no-repeat;
      background-color: var(--primary);
    }
  }

  .wpcf7-list-item-label {
    display: flex;
    align-items: start;
    gap: 15px;
    cursor: pointer;

    font-size: 14px;
    user-select: none;

    a {
      text-decoration: underline;
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }

    &::before {
      content: "";
      width: 18px;
      height: 18px;
      border: 1px solid var(--primary);
      flex-shrink: 0;

      transition: background-color .3s ease;
    }
  }
}
