@use "../base/templates" as *;
@use "../base/media" as *;

.m-title {
  font-weight: 600;
  font-size: 56px;
  margin: 0px 0px 40px 0px;
  @include laptop {
    font-size: 48px;
    margin-bottom: 30px;
  }
  @include laptop-min {
    font-size: 42px;
  }
  @include tablet {
    font-size: 38px;
    margin-bottom: 25px;
  }
  @include tablet-min {
    font-size: 32px;
  }
}
.s-title {
  position: relative;
  font-weight: 600;
  font-size: 44px;
  margin: 0;

  @include laptop {
    font-size: 40px;
  }
  @include laptop-min {
    font-size: 36px;
  }
  @include tablet {
    font-size: 28px;
    padding-left: 4px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 4px;
    bottom: 4px;
    left: -50px;
    background: linear-gradient(360deg, #d5e332 0%, #42d32c 100%);
    width: 5px;

    @media (max-width: 1760px) {
      left: -15px;
    }
    @include laptop-min {
      width: 3px;
    }
    @include tablet {
      left: -8px;
    }
  }

  &._simple {
    padding: 0 !important;
    &::before {
      display: none;
    }
  }
}
.t-title {
  font-weight: 600;
  font-size: 32px;
  @include laptop-min {
    font-size: 28px;
  }
  @include tablet {
    font-size: 24px;
  }
}
.f-title {
  font-weight: 600;
  font-size: 20px;
  @include tablet {
    font-size: 18px;
  }
}
