@use "../base/templates" as *;
@use "../base/media" as *;

.burger-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;

  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.4s ease,
    visibility 0.4s ease;

  &._active {
    opacity: 1;
    visibility: visible;
  }
  @media (min-width: 992px) {
    display: none;
  }
}
.burger {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 400px;
  max-width: 100%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-m);
  overflow-y: auto;
  z-index: 110;

  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);

  transition:
    opacity 0.4s ease,
    visibility 0.4s ease,
    transform 0.4s ease;

  &._open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  @media (min-width: 992px) {
    display: none;
  }

  &__head {
    @include flex-between;
    margin-bottom: 30px;
  }
  &__logo {
    display: block;
    width: 160px;

    img {
      display: block;
      width: 100%;
    }
  }
  &__close {
    width: 30px;
    height: 30px;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;

    a {
      transition: color 0.3s ease;
    }
  }
  &__services-btn {
    @include flex-between;
    gap: 15px;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid var(--primary);

    svg {
      width: 12px;
      height: 24px;
    }
  }
  &__contacts {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__address {
  }
  &__work-time {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
  }
  &__tel {
    display: block;
    width: fit-content;

    font-size: 20px;
    transition: color 0.3s ease;

    @include hover {
      color: var(--primary);
    }
  }
}
