@use "../base/templates" as *;
@use "../base/media" as *;

.fancybox__backdrop {
  backdrop-filter: blur(30px);
  background: rgba(0, 0, 0, 0.3);
}
.modal {
  display: none;
  width: 600px;
  background-color: var(--dark-m);
  color: white;
  border: 1px solid var(--border-color);
  padding: 0;
  max-width: 100%;
  &__body {
    position: relative;
    padding: 40px;
    width: 100%;
    @include tablet {
      padding: 30px 20px;
    }
  }
  &__close {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 20px;
    right: 20px;
    opacity: 0.3;

    transition: opacity 0.3s ease;

    @include tablet {
      top: 15px;
      right: 15px;
    }

    @include hover {
      opacity: 1;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    margin: 0px 0px 30px 0px;
    @include tablet {
      margin-bottom: 20px;
    }
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .btn-s {
      width: 100%;
    }
  }
}
.modal-dest {
  &__content {
    color: rgba(255, 255, 255, 0.5);
  }
}
