@use "../base/templates" as *;
@use "../base/media" as *;

.modal {
  display: none;
  width: 600px;
  background-color: var(--dark);
  color: white;
  padding: 40px;
  max-width: 100%;
  @include tablet {
    padding: 30px 20px;
  }
  &__body {
    width: 100%;
  }
  &__title {
    margin: 0px 0px 20px 0px;
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .btn-s {
      width: 100%;
    }
  }
}
