@use "../base/templates" as *;
@use "../base/media" as *;

.widget-docs {
  &__filters-open {
    @include flex-center;
    gap: 15px;

    width: 500px;
    max-width: 100%;
    margin: 0 auto 25px auto;
    padding: 15px;
    border: 1px solid var(--border-color);

    transition:
      color 0.3s ease,
      border-color 0.3s ease;

    @media (min-width: 576px) {
      display: none;
    }

    @include hover {
      color: var(--primary);
      border-color: var(--primary);
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
  &__fitlers {
    margin-bottom: 40px;

    @include tablet-min {
      position: fixed;
      overflow-y: auto;
      inset: 0;
      height: 100dvh;
      background-color: var(--dark-m);
      padding: 25px 20px;
      margin: 0;
      z-index: 120;

      opacity: 0;
      visibility: hidden;
      transform: translateX(-100%);

      transition:
        transform 0.4s ease,
        visibility 0.4s ease,
        opacity 0.4s ease;

      &._open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }
  &__filters-head {
    @include flex-between;
    gap: 15px;
    margin-bottom: 30px;

    @media (min-width: 576px) {
      display: none;
    }
  }
  &__filters-head-title {
    font-weight: 600;
    font-size: 28px;
  }
  &__filters-head-close {
    width: 30px;
    height: 30px;

    transition: color 0.3s ease;

    @include hover {
      color: var(--primary);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__filters-title {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.5);
  }
  &__filters-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 15px;
    @include tablet-min {
      flex-direction: column;
      gap: 20px;
    }
  }
  &__filters-item {
    width: 150px;
    user-select: none;
    input[type="checkbox"] {
      display: none;

      &:checked + label {
        &::before {
          background: url("@img/check.svg") center / 12px auto no-repeat;
          background-color: var(--primary);
        }
      }
    }

    label {
      display: flex;
      align-items: center;
      width: fit-content;
      gap: 15px;
      cursor: pointer;
      line-height: 100%;

      &::before {
        display: block;
        content: "";
        flex-shrink: 0;
        width: 18px;
        height: 18px;
        border: 1px solid var(--primary);

        transition: background-color 0.3s ease;
      }
    }
  }
  &__form-search {
    display: flex;
    margin-bottom: 40px;

    border: 1px solid var(--border-color);

    transition: border-color 0.3s ease;

    &._focus {
      border-color: var(--primary);
    }

    @include laptop-min {
      margin-bottom: 30px;
    }
  }
  &__search-input {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0 0px 0px 20px;
    flex: 1;

    color: white;
    font-size: 16px;
    line-height: 150%;

    @include tablet-min {
      padding-left: 15px;
      &::placeholder {
        font-size: 14px;
      }
    }
  }
  &__search-btn {
    @include flex-center;
    width: 62px;
    height: 62px;
    background-color: transparent;
    border: none;
    outline: none;
    flex-shrink: 0;
    padding: 0;
    cursor: pointer;

    color: var(--primary);

    transition: color 0.3s ease;

    @include tablet-min {
      width: 55px;
      height: 55px;
    }
    @include hover {
      color: var(--primary-d);
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
  &__table {
    line-height: 150%;
  }
  &__table-head {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;

    @include tablet-min {
      display: none;
    }
  }
  &__table-row {
    padding: 20px 0px;
    display: grid;
    gap: 40px;
    grid-template-columns: 300px 1fr;
    border-bottom: 1px solid var(--border-color);

    transition: background-color 0.3s ease;
    @include hover {
      background-color: var(--dark);
    }

    @include laptop-middle {
      gap: 20px;
      grid-template-columns: 200px 1fr;
    }
    @include laptop-min {
      grid-template-columns: 160px 1fr;
    }
    @include tablet {
      padding: 15px 0px;
    }
    @include tablet-min {
      gap: 15px;
      grid-template-columns: 1fr;
    }

    .cell {
      .name {
        display: block;
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        @media (min-width: 576px) {
          display: none;
        }
      }
    }
  }
  &__btn-more {
    width: 100%;
    margin-top: 40px;
    @include laptop-min {
      margin-top: 30px;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
