@use "./base/normalize";
@use "./base/vars";
@use "./base/templates";
@use "./base/settings";
@use "./base/media";
@use "./base/body-config";
@use "./base/config-container";

// ui
@use "./ui/button";
@use "./ui/list";
@use "./ui/social";
@use "./ui/form";
@use "./ui/select";
@use "./ui/title";
@use "./ui/sect";
@use "./ui/slider";
@use "./ui/colors";
@use "./ui/card-new";
@use "./ui/card-service";
@use "./ui/breadcrumbs";
@use "./ui/nav-slider";
@use "./ui/content";
@use "./ui/card-ecobox";
@use "./ui/tippy";

// widgets
@use "./widgets/modal";
@use "./widgets/burger";
@use "./widgets/widget-docs";

// components
@use "./components/header";

@use "./components/intro";
@use "./components/s-adv";
@use "./components/s-services";
@use "./components/s-license";
@use "./components/s-connect";
@use "./components/s-about";
@use "./components/s-news";
@use "./components/s-request";
@use "./components/s-archive-services";
@use "./components/s-hero";
@use "./components/s-info";
@use "./components/s-steps";
@use "./components/s-content";
@use "./components/s-features";
@use "./components/s-doc";
@use "./components/s-trump";
@use "./components/s-archive";
@use "./components/s-descr";
@use "./components/s-certificates";
@use "./components/s-archive-news";
@use "./components/s-single";
@use "./components/s-contract";
@use "./components/s-contacts";
@use "./components/s-requisites";

@use "./components/footer";