@use "./base/normalize";
@use "./base/vars";
@use "./base/templates";
@use "./base/settings";
@use "./base/media";
@use "./base/body-config";
@use "./base/config-container";

// ui
@use "./ui/button";
@use "./ui/list";
@use "./ui/social";
@use "./ui/form";
@use "./ui/select";
@use "./ui/title";
@use "./ui/sect";
@use "./ui/slider";
@use "./ui/colors";

// widgets
@use "./widgets/modal";
@use "./widgets/burger";
@use "./widgets/widget-docs";

// components
@use "./components/header";

@use "./components/intro";
@use "./components/s-adv";
@use "./components/s-services";
@use "./components/s-license";
@use "./components/s-connect";

@use "./components/footer";