@use "./base/normalize";
@use "./base/vars";
@use "./base/templates";
@use "./base/settings";
@use "./base/media";
@use "./base/body-config";
@use "./base/config-container";

// ui
@use "./ui/button";
@use "./ui/list";
@use "./ui/social";
@use "./ui/form";
@use "./ui/select";
@use "./ui/title";

// widgets
@use "./widgets/modal";
@use "./widgets/burger";

// components
@use "./components/header";

@use "./components/intro";

@use "./components/footer";